@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Lato", sans-serif;
    background-color: #eeeeee;
  }

  button {
    @apply border border-blueText py-1 px-2 rounded-lg bg-[#ef5b0c] w-auto;
  }
  button:hover {
    @apply hover:bg-offWhite text-orange border-[1px] border-orange transform scale-105;
  }
}
.active {
  /* @apply border-b-orange border-b-[1px]; */
  color: #ef5b0c !important;
  font-weight: bold !important;
  scale: 0.88;
}

.aboutBg {
  border-radius: 0px 320px;
}

@media only screen and (min-width: 768px) {
  .aboutBg {
    border-radius: 0 260px;
  }
  .active {
    font-weight: bold !important;
    scale: 0.88;
  }
  .active:hover {
    /* color: #f5f5f5 !important; */
    scale: 1 !important;
    transition-duration: 700ms;
  }
}
@media only screen and (min-width: 1280px) {
  .aboutBg {
    border-radius: 0 360px;
  }
}
